.panel {
   box-shadow: 0 0 5px #838383;
   width: 300px;
   max-height: 200px;
   border-radius: 3px;
   margin: 0 auto;
   text-align: center;
}

.name {
   padding-top: 20px;

   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
   color: gray;
}

.btn {
   cursor: pointer;
   margin-bottom: 20px;
   margin-top: 5px;
   width: 60%;
   height: 35px;
   border: solid 1px #838383;
   border-radius: 100px;
}

.settingsPanel {
   box-shadow: 0 0 5px #838383;
   width: 300px;
   max-height: 200px;
   padding-bottom: 20px;
   margin: 20px auto;
   border-radius: 3px;
}

.setTitile {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   font-weight: 600;

}

input {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 600;
}