* {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
   background: #3D3D3D;
}

.panel {
   box-shadow: 0 0 5px #838383;
   width: 300px;
   max-height: 200px;
   border-radius: 3px;
   margin: 0 auto;
   text-align: center;
   background-color: #191919;
}

.name {
   padding-top: 20px;
   font-size: 25px;
   font-weight: 600;
   color: rgb(251, 251, 251);
}

.btn {
   cursor: pointer;
   margin-bottom: 20px;
   /* margin-top: 5px; */
   width: 55%;
   height: 34px;
   border: solid 1px #838383;
   border-radius: 6px;
   font-size: 16px;
   font-weight: 700;
   transition: .2s;
}

.btn:hover {
   width: 53%;
   height: 32px;
   background: #c7c7c7;
}

.btn:active {
   background: #191919;
   color: #fff;
}

.settingsPanel {
   box-shadow: 0 0 5px #838383;
   width: 300px;
   max-height: 200px;
   padding-bottom: 20px;
   margin: 20px auto;
   border-radius: 3px;
   background-color: #191919;
   color: #fff;
   display: grid;
}

.setTitile {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   font-weight: 600;

}

.input-s {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 600;
   width: 50%;
   margin: 3px auto;
}

.input-s:focus {
   background-color: #191919;
   outline: none;
   color: #fff;
}

.input-reset {
   width: 20px;
   height: 20px;
   background-color: #fff;
   border: none;
   opacity: .5;
   outline: none;
}

.input-reset:hover {
   background: #c7c7c7;
}

.input-reset:active {
   background: #191919;
   color: #fff;
}

.input-form {
   text-align: center;
}